

<div class="row">
  <% if (courses.length === 0) { %>
    <div class="col-12">
      <div class="alert alert-info">暂无课程数据</div>
    </div>
  <% } else { %>
    <% courses.forEach(course => { %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= course.name %></h5>
            <p class="card-text"><%= course.description %></p>
            <a href="/course/<%= course.alias %>" class="btn btn-primary">开始学习</a>
          </div>
        </div>
      </div>
    <% }) %>
  <% } %>
</div>